.hidden {
  display: none;
}

#clock {
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  -webkit-text-stroke: 0.2px black;
  font-size: 120px;
  font-weight: 400;
  color: white;
  animation: Opacity 1s ease-in-out;
}

#login-form {
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  animation: Opacity 1s ease-in-out;
}

#login-form .login__text {
  margin-top: 100px;
  width: 300px;
  height: 100px;
  border: 0px;
  text-align: center;
  font-size: 32px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  -webkit-text-stroke: 0.2px black;
}

#login-form .login__text::placeholder {
  color: #fff;
  -webkit-text-stroke: 0.2px black;
}

#login-form .login__text:focus::placeholder {
  color: transparent;
  animation: Opacity 1s ease-in-out;
}

@keyframes Opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#greeting {
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  font-weight: 600;
  font-size: 100px;
  color: white;
}
#todo-form {
  z-index: 1;
  position: fixed;
  top: 60%;
  left: 50%;
}
#todo-list {
}
#quote {
  z-index: 1;
  /* position: relative;
  display: flex;
  align-items: center;
  justify-content: center; */
  top: 70%;
  left: 40%;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
